<a href='/projects/new'>Add new Project</a><br></br>
<a href='/projects'>View all Projects</a><br></br>
<a href='/contractors'>View contractors</a><br></br>

<a href='/contractors/new'>Add Contractor</a><br></br>

<ul>
  <%@projects.all.each do |project|%>
    <li>
    <a href='/projects/<%=project.id%>'><%=project.title%></a>
    <h5>Title:<%=project.title%></h5>
    <h5>Description:<%=project.description%></h5>
    <h5>Contract Number:<%=project.contract_number%></h5>
    <h5>Solicitation Number:<%=project.solicitation_number%></h5>
    <h5>General Contractor:<%=project.general_contractor%></h5>
    <h5>Type:<%=project.project_type%></h5>
    <h5>Project Amount:<%=project.contract_amount%></h5>
    <h5>Start Date:<%=project.start_date%></h5>
    <h5>Sunstantial Completion Date:<%=project.substantial_completion_date%></h5>
    <h5>Final Completion Date:<%=project.final_completion_date%></h5>
    </li>
    <%end%>
</ul>
</h1>
 
 <a href='/projects/home'>Back to homepage</a><br>

<a href='/logout'>Log out</a>