<%=@contractor.name%>
     <%=@contractor.projects%>


 <li>
    Name:<%=contractor.name%><br>
    Ssn:<%=contractor.ssn%><br>
    Company Name:<%=contractor.company_name%><br>
    Address<%=contractor.company_address%><br>
    Certification:<%=contractor.certification%>
  </li>
  <%end%>


<form action='/contractors/<%=@contractor.id%>/delete' method='post'>
   <input type="hidden" id="hidden" name="_method" value="DELETE">
 <input type='submit' value="Delete Contractor">


 <a href='/contractors/<%=@contractor.id%>/delete'>Delete contractor</a>